<nb-card size="large">
  <nb-card-body>
    <div class="picture"  style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
        CENTRO EDUCATIVO DE SAN PEDRO
      </div>
      <div class="description">
      San Pedro es una sede del establecimiento Centro Rural Luis A. Brito De San Pedro
      San Pedro cuenta con los niveles Preescolar,Básica Secundaria,Básica Primaria y grados 0,1,2,3,4,5,6,7,8,9,20,21

      </div>
      <div class="properties">
        <li>Codigo Dane:244078000542</li>
        <li>Departamento:LA GUAJIRA</li>
        <li>Municipio:BARRANCAS</li>
        <li>Tipo Institución:RURAL</li>
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
      <i class="ion-ios-world"></i>
    </a>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <i class="ion-social-github"></i>
    </a>
  </nb-card-footer>
</nb-card>
