<nb-card>
  <nb-card-header>
    Gestionar Proveedor
  </nb-card-header>

  <nb-card-body>
    <div class="proveedores" *ngFor="let proveedor of proveedores" (click)="onSelect(proveedor)">
      <nb-user  [name]="proveedor.Nombre"  [title]="nb-trash" size="large">

      </nb-user>
      <i class="nb-trash" size="middle"
      (click)="delete(proveedor); $event.stopPropagation()"></i>
    </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="input-group">
        <input #NombreProveedor />
        <button (click)="add(NombreProveedor.value); NombreProveedor.value=''">
          Añadir
        </button>
      </div>
    </nb-card-footer>
</nb-card>
<div *ngIf="selectedProveedor">
<nb-card>
  <nb-card-header>
    PRODUCTOS DE {{selectedProveedor.Nombre}}
  </nb-card-header>

  <nb-card-body>
    <div class="productosProveedor" *ngFor="let productoProveedor of productosProveedor">
      <nb-user  [name]="productoProveedor.ProductoId.Nombre"   size="large"></nb-user>


    </div>

  </nb-card-body>
    <nb-card-footer>

        <div class="form-group">
          <label>Producto</label>
          <select [(ngModel)]="selectedValue">
            <option *ngFor="let p of productos" [ngValue]="p">{{p.Nombre}}</option>
          </select>
        </div>
        <button (click)="addProducto();">
          Añadir
        </button>

    </nb-card-footer>
</nb-card>
