<div class="row">
<nb-card class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  <nb-card-header>
    Gestionar Proveedor
  </nb-card-header>

  <nb-card-body>
    <div class="proveedores" *ngFor="let proveedor of proveedores" (click)="onSelect(proveedor)">
      <nb-user  [name]="proveedor.Nombre"  [title]="nb-trash" size="large">

      </nb-user>
      <i class="nb-trash" size="middle"
      (click)="delete(proveedor); $event.stopPropagation()"></i>
    </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="input-group">
        <input #NombreProveedor />
        <button (click)="add(NombreProveedor.value); NombreProveedor.value=''">
          Añadir
        </button>
      </div>
    </nb-card-footer>
</nb-card>
<div *ngIf="selectedProveedor">
<nb-card>
  <nb-card-header>
    PRODUCTOS DE {{selectedProveedor.Nombre}}
  </nb-card-header>

  <nb-card-body>
    <div class="productosProveedor" *ngFor="let productoProveedor of productosProveedor">
      <nb-user  [name]="productoProveedor.ProductoId.Nombre"  [title]="productoProveedor.Valor" size="large"></nb-user>
      <i class="nb-trash" size="middle"
      (click)="delete(proveedor); $event.stopPropagation()"></i>

    </div>

  </nb-card-body>
    <nb-card-footer>

        <div class="form-group">
          <label>Producto</label>
          <select [(ngModel)]="selectedValue" class="form-control">
            <option *ngFor="let p of productos" [ngValue]="p">{{p.Nombre}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Unidades Medida</label>
          <select [(ngModel)]="selectedUnidadMedida" class="form-control">
            <option *ngFor="let u of unidadMedidas" [ngValue]="p">{{u.Nombre}}{{u.Peso}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Valor</label>
            <input #valor class="form-control" />
        </div>
        <label>Fecha Aplicacion</label>
        <input #fecha class="form-control"/>
        <button (click)="addProducto(valor.value, fecha.value);" class="form-control">
          Añadir
        </button>

    </nb-card-footer>
</nb-card>

<div *ngIf="selectedProveedor">
<nb-card>
  <nb-card-header>
    MUNICIPIOS DE {{selectedProveedor.Nombre}}
  </nb-card-header>

  <nb-card-body>
    <div class="municipiosProveedor" *ngFor="let municipioProveedor of municipiosProveedor">
      <nb-user  [name]="municipioProveedor.MunicipioId.Nombre"   size="large"></nb-user>
      <i class="nb-trash" size="middle"
      (click)="delete(proveedor); $event.stopPropagation()"></i>

    </div>

  </nb-card-body>
    <nb-card-footer>

        <div class="form-group">
          <label>Municipios</label>
          <select [(ngModel)]="selectedMunicipio" class="form-control">
            <option *ngFor="let m of municipios" [ngValue]="m">{{m.Nombre}}</option>
          </select>
        </div>
        <button (click)="addMunicipio();" class="form-control">
          Añadir
        </button>

    </nb-card-footer>
</nb-card>

</div>


</div>
