
    <nb-card>
      <nb-card-header>
        Planeación Ciclos de Menús
      </nb-card-header>
      <nb-card-body>
        <div dnd-droppable  [dropZones]="['demo1']" class="panel panel-info">
           <div class="panel-heading">Menú</div>
           <div class="panel-body">
               <div *ngFor="let preparacionMenu of preparacionesMenu" class="panel panel-default">
                   <div class="panel-body">
                   {{preparacionMenu.Nombre}}
                   </div>
               </div>
           </div>
       </div>
     </nb-card-body>
   </nb-card>
   <div class="row">
     <div class="col-md-12">
<nb-card>
            <nb-card-header>Preparaciones</nb-card-header>

            <nb-card-body class="row">
                <div *ngFor="let preparacion of preparaciones" class="panel panel-default"
                      dnd-draggable  [dragData]="preparacion" (onDragSuccess)="addToMenu($event)" [dropZones]="['demo1']">
                    <nb-card class="col-md">

                        <nb-card-header>{{preparacion.Nombre}}</nb-card-header>

                    </nb-card>
                </div>
            </nb-card-body>

    </nb-card>
  </div>
  </div>
