  <div class="col-md-12">
    <div class="col-md-6">
    <nb-card>
      <nb-card-header>Despachos</nb-card-header>
      <nb-card-body>
        <button (click)="procesar();" class="btn btn-primary">
          Planeación
        </button>


      </nb-card-body>

    </nb-card>
     </div>
      <div class="col-md-6">
    <nb-card>
        <nb-card-header>Reportes</nb-card-header>
      <nb-card-body>
      <div class="form-group">
    <button (click)="waybill();" class="btn btn-primary">
      Reporte Waybill
    </button>
    </div>
      <div class="form-group">
    <button (click)="asistencias();" class="btn btn-primary">
      Reporte Asistencias
    </button>
    </div>
      <div class="form-group">
    <button (click)="ajustes();" class="btn btn-primary">
      Reporte Ajustes
    </button>
    </div>
    </nb-card-body>
    </nb-card>
    </div>
  </div>
