<nb-card>
  <nb-card-header>
    Gestionar Preparación
  </nb-card-header>

  <nb-card-body>
    <div class="preparaciones" *ngFor="let preparacion of preparaciones" (click)="onSelect(preparacion)">
      <nb-user  [name]="preparacion.Nombre"  [title]="nb-trash" size="large">

      </nb-user>
      <i class="nb-trash" size="middle"
      (click)="delete(preparacion); $event.stopPropagation()"></i>
    </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="input-group">
        <input #NombrePreparacion />
        <button (click)="add(NombrePreparacion.value); NombrePreparacion.value=''">
          Añadir
        </button>
      </div>
    </nb-card-footer>
</nb-card>
<div *ngIf="selectedPreparacion">
<nb-card>
  <nb-card-header>
    {{selectedPreparacion.Nombre}}
  </nb-card-header>

  <nb-card-body>
    <div class="productosPreparacion" *ngFor="let productoPreparacion of productosPreparacion">
      <nb-user  [name]="productoPreparacion.ProductoId.Nombre"   size="large"></nb-user>


    </div>

  </nb-card-body>
    <nb-card-footer>

        <div class="form-group">
          <label>Producto</label>
          <select [(ngModel)]="selectedValue">
            <option *ngFor="let p of productos" [ngValue]="p">{{p.Nombre}}</option>
          </select>
        </div>
        <button (click)="addProducto();">
          Añadir
        </button>

    </nb-card-footer>
</nb-card>
