<div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-kitten [institucion]="selectedInstitucion" [municipio]="municipio" [departamento]="departamento" [tipoInstitucion]="tipoInstitucion"></ngx-kitten>
  </div>
    <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contactos [institucion]="selectedInstitucion"></ngx-contactos>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-12 col-md-6">
  <ngx-gmaps [institucion]="selectedInstitucion"></ngx-gmaps>
</div>
</div>
