<nb-card>
  <nb-card-header>
    Gestionar Productos
  </nb-card-header>

  <nb-card-body>
    <div class="productos" *ngFor="let producto of productos" (click)="onSelect(producto)">
      <div class="state-container">
        <div class="state-value border"></div>
        <div class="state-details">
          <span class="header">{{producto.Nombre}}</span>
          <span class="subheader">{{producto.Codigo}}</span>
          <span class="subheader">{{producto.TipoAlimentoId.Nombre}}</span>
        </div>
      </div>
      <button class="delete"
      (click)="delete(producto); $event.stopPropagation()">Eliminar</button>

    </div>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>
<nb-card>
  <nb-card-header>
    Crear Productos
  </nb-card-header>

  <nb-card-body>
    <div class="input-group">
      <input #NombreProducto  placeholder="Nombre" class="form-control"/>
      <input #CodigoProducto  placeholder="CodigoProducto" class="form-control"/>
      <select [(ngModel)]="selectedTipoAlimento">
        <option *ngFor="let tipoAlimento of tiposAlimentos" [ngValue]="tipoAlimento">{{tipoAlimento.Nombre}}</option>
      </select>
      <button (click)="add(NombreProducto.value, CodigoProducto.value); NombreProducto.value=''; CodigoProducto.value=''">
        Añadir
      </button>
    </div>

    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>
